In [1]:
from datetime import datetime

In [2]:
a=datetime.now()
print(a)
print(a.year)
print(a.month)
print(a.day)
print(a.hour)

2020-01-29 13:51:50.521170
2020
1
29
13

In [4]:
from datetime import *
now=datetime.now()
print(now)
print('Date now :{}-{}-{}'.format(now.day,now.month,now.year))
print('Time now :{}:{}:{}'.format(now.hour,now.minute,now.second))

2020-01-29 13:58:09.644135
Date now :29-1-2020
Time now :13:58:9

In [6]:
tdm=datetime.today()
print(tdm)
print('Today date and time:',tdm)
td=date.today()
td

2020-01-29 14:00:48.835777
Today date and time: 2020-01-29 14:00:48.835777

datetime.date(2020, 1, 29)

In [8]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)
print(delta)
print(delta.days)

926 days, 15:45:00
926

In [11]:
datetime(2011,12,26)+timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [17]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7)]

In [19]:
import numpy as np
import pandas as pd
ts=pd.Series(np.random.randn(3),index=dates)
ts

2011-01-02    1.378019
2011-01-05   -0.421728
2011-01-07   -0.122290
dtype: float64

In [20]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07'], dtype='datetime64[ns]', freq=None)

In [21]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [24]:
stamp=ts.index[1]
stamp

Timestamp('2011-01-05 00:00:00')

In [25]:
ts[stamp]

-0.4217278714890076

In [26]:
now=datetime.now()
print(now)
timestamp=datetime.timestamp(now)
print(timestamp)

2020-01-29 14:28:59.745777
1580288339.745777

In [27]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
print(longer_ts)

2000-01-01    0.175186
2000-01-02   -0.370842
2000-01-03    0.123836
2000-01-04    1.202578
2000-01-05    0.053768
2000-01-06    1.078832
2000-01-07    0.572835
2000-01-08   -0.424602
2000-01-09   -1.472600
2000-01-10    0.484072
2000-01-11   -0.650525
2000-01-12    0.438825
2000-01-13   -2.095713
2000-01-14   -0.880836
2000-01-15    0.127465
2000-01-16   -0.199720
2000-01-17    0.453731
2000-01-18   -0.011767
2000-01-19   -0.585458
2000-01-20    1.315929
2000-01-21    0.151538
2000-01-22    0.819267
2000-01-23   -0.041959
2000-01-24   -0.402476
2000-01-25   -0.120738
2000-01-26    0.321596
2000-01-27    0.684353
2000-01-28    1.232787
2000-01-29    0.397087
2000-01-30    0.963533
                ...
2002-08-28    2.784447
2002-08-29    1.661032
2002-08-30   -0.528894
2002-08-31    0.149994
2002-09-01    1.122762
2002-09-02    1.247937
2002-09-03    0.964583
2002-09-04   -2.494928
2002-09-05   -0.079979
2002-09-06   -0.227517
2002-09-07   -1.123295
2002-09-08   -0.423114
2002-09-09   -0.630981
2002-09-10    0.459750
2002-09-11    1.122790
2002-09-12    0.647152
2002-09-13    1.040023
2002-09-14    0.154155
2002-09-15   -0.339666
2002-09-16   -0.663744
2002-09-17    1.141110
2002-09-18   -0.898712
2002-09-19    0.518692
2002-09-20   -0.825892
2002-09-21   -0.867339
2002-09-22    0.742447
2002-09-23    0.617346
2002-09-24    0.042746
2002-09-25   -0.642442
2002-09-26   -0.610004
Freq: D, Length: 1000, dtype: float64

In [28]:
longer_ts['2001']

2001-01-01   -0.062138
2001-01-02   -0.149313
2001-01-03   -0.072038
2001-01-04   -0.460846
2001-01-05   -0.181265
2001-01-06   -0.487228
2001-01-07    0.695983
2001-01-08   -0.450156
2001-01-09    1.976690
2001-01-10    2.113111
2001-01-11   -0.794495
2001-01-12   -0.954692
2001-01-13   -0.336898
2001-01-14   -0.207448
2001-01-15   -1.092541
2001-01-16   -0.848532
2001-01-17   -0.601507
2001-01-18   -1.075998
2001-01-19   -0.050731
2001-01-20    0.534795
2001-01-21    1.271059
2001-01-22   -1.065597
2001-01-23    0.094567
2001-01-24   -2.267585
2001-01-25    0.360291
2001-01-26    0.319663
2001-01-27   -0.034836
2001-01-28   -0.517328
2001-01-29   -0.213984
2001-01-30    0.521443
                ...
2001-12-02    1.904533
2001-12-03   -0.176128
2001-12-04   -0.931180
2001-12-05    0.152335
2001-12-06   -0.926728
2001-12-07   -0.230287
2001-12-08    0.216276
2001-12-09   -0.002258
2001-12-10   -0.570583
2001-12-11   -0.957291
2001-12-12    0.674303
2001-12-13    1.550558
2001-12-14    0.790362
2001-12-15   -0.048950
2001-12-16   -0.832056
2001-12-17    0.030285
2001-12-18   -0.063672
2001-12-19   -0.820125
2001-12-20   -0.199507
2001-12-21    1.500519
2001-12-22    0.365099
2001-12-23   -1.739650
2001-12-24   -0.996626
2001-12-25    0.589040
2001-12-26    0.782133
2001-12-27    0.632339
2001-12-28   -0.477657
2001-12-29    0.903298
2001-12-30    1.048076
2001-12-31   -0.277553
Freq: D, Length: 365, dtype: float64

In [30]:
longer_ts['2001-05-20']

2.3806765164725174

In [31]:
longer_ts['2001-05']

2001-05-01   -1.800181
2001-05-02   -0.044009
2001-05-03   -0.079082
2001-05-04   -1.479150
2001-05-05    0.217101
2001-05-06    1.207200
2001-05-07    0.834326
2001-05-08   -0.315310
2001-05-09   -1.052163
2001-05-10    0.671137
2001-05-11   -1.283673
2001-05-12   -1.756617
2001-05-13    1.071644
2001-05-14   -1.315653
2001-05-15    0.981652
2001-05-16   -0.420842
2001-05-17    0.249359
2001-05-18    0.086551
2001-05-19    1.016181
2001-05-20    2.380677
2001-05-21   -1.466615
2001-05-22    0.718752
2001-05-23    0.904303
2001-05-24    0.756139
2001-05-25   -0.554403
2001-05-26   -0.442043
2001-05-27   -1.134444
2001-05-28   -2.495274
2001-05-29    1.294538
2001-05-30   -1.174257
2001-05-31    1.280136
Freq: D, dtype: float64

In [33]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.12229
dtype: float64

In [35]:
ts[datetime(2011, 1, 5):]

2011-01-05   -0.421728
2011-01-07   -0.122290
dtype: float64

In [37]:
ts['2011, 1 ,5':'2011-01-12']

2011-01-05   -0.421728
2011-01-07   -0.122290
dtype: float64

In [36]:
ts.truncate(after='1/2/2011')

2011-01-02    1.378019
dtype: float64

In [38]:
pd.date_range('2000-01-01','2001-01-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [40]:
dates=pd.date_range('1/1/2019',periods=100, freq='W-WED')

In [41]:
longer_df=pd.DataFrame(np.random.randn(100, 4),index=dates, columns=['Colorado','Texas','New Yark','Ohio'])

In [42]:
longer_df

            Colorado     Texas  New Yark      Ohio
2019-01-02  1.583765 -0.455335  0.409400 -0.739050
2019-01-09  1.633999 -0.599580  2.361256 -2.107240
2019-01-16  2.177440  0.315769  0.177219 -1.454316
2019-01-23 -0.041811 -0.291358 -0.562185  0.445205
2019-01-30  0.265655 -1.346518  0.708832 -0.832988
2019-02-06 -0.767389 -0.213915 -0.509947  0.278020
2019-02-13 -0.284699 -0.985809 -0.034782 -0.608808
2019-02-20  0.931224  0.627545 -2.266421  0.665812
2019-02-27 -0.451162  0.365257 -0.027888 -0.261452
2019-03-06 -0.776911 -0.964218  0.192316 -1.364847
2019-03-13  0.004722  1.057021 -1.188118  0.666841
2019-03-20 -0.088552  0.705704  0.074117 -1.316327
2019-03-27 -0.921406 -0.858531  0.998849  1.077500
2019-04-03  0.287118  0.724760  1.365602 -0.481245
2019-04-10 -1.658519 -0.097273  0.144272 -1.345933
2019-04-17  1.259314 -1.133288 -1.581266  0.846161
2019-04-24 -0.389982 -1.097455 -0.922915  0.465150
2019-05-01  0.350534 -0.036839 -0.571653  0.361870
2019-05-08  0.197015  1.344649 -0.497202  0.942381
2019-05-15  0.947719  1.031067  0.099668 -1.061597
2019-05-22  1.342366 -0.036545 -0.950676 -0.311033
2019-05-29 -1.443181  0.897027 -0.030845 -0.944585
2019-06-05  0.437314 -0.167250  1.133177  0.505397
2019-06-12 -0.909863  1.746512  1.694167  1.387154
2019-06-19  0.573722  1.051683 -1.300453  1.965264
2019-06-26 -1.275866 -1.576762  0.927216  0.541015
2019-07-03  1.189505  0.303071 -0.502938  0.085519
2019-07-10  1.056235 -0.570709  0.587290  0.077566
2019-07-17 -0.430196 -0.758643  0.571362 -0.217532
2019-07-24  1.997007  0.222430 -2.253989 -0.067831
...              ...       ...       ...       ...
2020-05-06  1.799615 -0.450725 -0.423630 -1.690962
2020-05-13 -0.490708 -2.479616 -0.861335  1.438631
2020-05-20  0.388154  0.909943  0.723166  1.561080
2020-05-27 -0.198763 -1.239525  1.725027 -1.182474
2020-06-03  0.070852 -1.048598  0.091816 -1.828953
2020-06-10  0.553619 -0.617721  0.419162  0.325903
2020-06-17 -0.451348 -0.584145  0.721693  1.375860
2020-06-24 -0.221210 -0.231076 -0.213506  0.295471
2020-07-01 -1.761304  0.434881  0.173684  0.072883
2020-07-08  1.374364 -0.272546  0.671774  1.035365
2020-07-15 -0.490773  1.911314 -0.738034  0.494104
2020-07-22  0.580249 -0.342274  0.339239 -2.038398
2020-07-29 -0.652654  0.188646  2.898340  0.389707
2020-08-05 -0.102011 -0.023639 -1.631999 -0.071339
2020-08-12 -0.489132  0.950136  0.409640 -2.683013
2020-08-19 -0.016065 -1.098735 -1.353209  0.346047
2020-08-26 -0.751648 -0.708020 -0.343275 -0.581502
2020-09-02  0.638928  0.566284  1.222380 -0.957549
2020-09-09 -1.055495  0.630134 -1.257504 -0.687891
2020-09-16  0.918885  0.066591  0.173466 -0.185438
2020-09-23 -0.124401  0.482526  0.293210 -0.893091
2020-09-30 -1.260904  1.158479 -0.818112  0.917579
2020-10-07 -0.063822  0.620321  0.213023  1.660319
2020-10-14  1.084904 -0.105334 -0.119972 -0.685853
2020-10-21  1.104201 -0.026676  0.380245 -1.156674
2020-10-28  0.507352 -1.246755 -0.448777  0.471883
2020-11-04 -1.694467  0.462911  0.467931 -0.437003
2020-11-11 -1.095424 -1.309826 -0.175154  2.001869
2020-11-18 -0.280564 -0.008078 -0.012674 -0.481875
2020-11-25 -1.637745  1.736085  1.228737  1.091582

[100 rows x 4 columns]

In [43]:
longer_df.loc['5-2019']

            Colorado     Texas  New Yark      Ohio
2019-05-01  0.350534 -0.036839 -0.571653  0.361870
2019-05-08  0.197015  1.344649 -0.497202  0.942381
2019-05-15  0.947719  1.031067  0.099668 -1.061597
2019-05-22  1.342366 -0.036545 -0.950676 -0.311033
2019-05-29 -1.443181  0.897027 -0.030845 -0.944585

In [45]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/3/2000','1/4/2000','1/5/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05'],
              dtype='datetime64[ns]', freq=None)

In [46]:
dup_ts=pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
dtype: int32

In [47]:
dup_ts.index.is_unique

True

In [48]:
dup_ts['1/2/2000']

1

In [50]:
grouped=dup_ts.groupby(level=0)

In [51]:
grouped.mean()

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
dtype: int32

In [53]:
grouped.count()

2000-01-01    1
2000-01-02    1
2000-01-03    1
2000-01-04    1
2000-01-05    1
dtype: int64

In [54]:
index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(start='2012-04-01',end='2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range(start='1/1/2019',periods=5,freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [59]:
pd.date_range(start='1/1/2019',periods=5,freq='M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [60]:
from pandas.tseries.offsets import Hour,Minute
hour=Hour()
hour

In [61]:
_4hours=Hour(4)
_4hours

In [62]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [64]:
pd.date_range('2000-01-01',periods=10, freq='1H30MIN')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [67]:
s=pd.date_range('2019-12-11',periods=10)

In [68]:
for day in s:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\shashi\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

In [69]:
for day in s:
    print(day.dayofweek)

2
3
4
5
6
0
1
2
3
4